DATABASE_URL="postgresql://postgres.uquodaqgobpsrjaslupb:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.uquodaqgobpsrjaslupb.supabase.co:5432/postgres?sslmode=require"
JWT_SECRET="replace-with-a-long-random-secret"
